<div class="search__container">
  <svg class="search__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
    <path
      d="M10.68 11.74a6 6 0 0 1-7.922-8.982 6 6 0 0 1 8.982 7.922l3.04 3.04a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215ZM11.5 7a4.499 4.499 0 1 0-8.997 0A4.499 4.499 0 0 0 11.5 7Z"></path>
  </svg>
  <input [(ngModel)]="searchKeyword" type="text" (focus)="onSearchFocus()" (focusout)="onSearchFocusOut()" placeholder="Search year or rider">

  <div class="search__list" [attr.aria-expanded]="searchVisible">
    @for (edition of selectedEditions | search:searchKeyword; track edition.edition) {
      <input [id]="edition.edition" type="checkbox" (change)="changeSelected(edition)">
      <label [for]="edition.edition" [ngClass]="{'search__list-item--selected': edition.selected}" class="search__list-item">
        <div class="checkbox" [ngClass]="{'checkbox--selected': edition.selected}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M13.78 4.22a.75.75 0 0 1 0 1.06l-7.25 7.25a.75.75 0 0 1-1.06 0L2.22 9.28a.751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018L6 10.94l6.72-6.72a.75.75 0 0 1 1.06 0Z"></path></svg>
        </div>

        <p class="winner">
          <span class="mr-2 font-bold">{{ edition.year }}</span>
          <span class="mr-2 divider"></span>
          <span class="mr-1">{{ edition.winnerFirstName }}</span>
          <span class="font-bold">{{ edition.winnerLastName }}</span>
        </p>

      </label>
    } @empty {
      <div class="empty-message">
        No editions found...
      </div>
    }
  </div>
</div>
