@if (edition) {
  <section class="mountain__container">
    <div class="mountain__graphs">
      <div [id]="stagesId">
        <p class="mountain__info">{{ edition.stageWins }}</p>
      </div>
      <div [id]="leadId">
        <p class="mountain__info">{{ edition.stagesLed }}</p>
      </div>
    </div>

    <div class="mountain__margin" [id]="marginId">
      <p class="mountain__info mountain__info--margin px-4">
        Margin:
        @if (edition.margin.hours) {
          <span>
            {{ edition.margin.hours }}h
          </span>
        }
        @if (edition.margin.minutes) {
          <span>
            {{ edition.margin.minutes }}min
          </span>
        }
        @if (edition.margin.seconds) {
          <span>
            {{ edition.margin.seconds }}s
          </span>
        }
      </p>
    </div>

    <div class="flex gap-4 h-fit">
      <div class="flex flex-col items-end">
        <p class="winner">
          <span class="mr-2 font-bold">{{ edition.year }}</span>
          <span class="mr-2 font-bold divider"></span>
          <span class="mr-1">{{ firstName }}</span>
          <span class="font-bold">{{ lastName }}</span>
        </p>
        <p class="team">{{ edition.winner.team }}</p>
      </div>

      <div class="divider"></div>

      <div class="flex flex-col">
        <div class="flex">
          <p class="font-bold min-w-[8rem]">Number of stages</p>
          <p class="value">{{edition.totalStages}}</p>
        </div>
        <div class="flex">
          <p class="font-bold min-w-[8rem]">Distance</p>
          <p class="value">{{edition.distance}}</p>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="flex">
          <p class="font-bold min-w-[8rem]">Total time</p>
          <p class="value">{{edition.totalStages}}</p>
        </div>
        <div class="flex">
          <p class="font-bold min-w-[8rem]">Distance</p>
          <p class="value">{{edition.distance}}</p>
        </div>
      </div>
    </div>
  </section>
}

