.mountain {
  &__card {
    border: 1px solid var(--color-primary-900);
    background: var(--gradient-card);
    box-shadow: var(--shadow-card);
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    gap: 2rem;
    align-items: stretch;
    overflow: hidden;
    max-width: 100%;
    position: relative;
  }

  &__gradient {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__transform-container {
    overflow: hidden;
    width: 100%;
  }

  &__container {
    display: flex;
    width: 100%;
    position: relative;
    transition: var(--transition) transform;
  }

  &__default {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &--ei-visible {
      .mountain__detail {
        opacity: 1;
      }
    }

    &:hover {
      .mountain__detail {
        opacity: 1;
      }
    }
  }

  &__graphs {
    display: flex;
    align-items: flex-start;
    height: 5rem;

    & div:first-child {
      margin-right: -2rem;
      position: relative;
      z-index: 1;
    }

    div {
      position: relative;
    }
  }

  &__margin {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__detail {
    opacity: 0;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    min-width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: 99px;
    background: var(--color-primary-900);
    box-shadow: var(--shadow-mountain);
    transition: var(--transition) opacity;
    z-index: 2;
    cursor: pointer;

    &--margin {
      left: 11rem;
      transform: initial;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__default-information {
    display: flex;
    gap: 1rem;
  }

  &__extra-information {
    position: absolute;
    right: 0;
    display: flex;
    gap: 1rem;
    width: 38rem;
    padding-left: 2rem;
    transform: translateX(100%);

    &:before {
      content: '';
      position: absolute;
      left: 1rem;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: var(--color-text);
    }
  }

  &__flag {
    margin-right: .5rem;
    height: 1rem;
    width: 1rem;
  }
}

.extra-information {
  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 3rem;

    svg {
      height: 1.6rem;
      transform: rotate(90deg) scale(.8);
      fill: var(--color-text);
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: var(--color-text);
      opacity: .1;
    }
  }

  &__container {
    .label {
      width: 10rem;
      font-weight: 700;
    }

    .value {
      width: 7.5rem;
    }
  }

  &--visible {
    transform: translateX(-38rem);
  }
}

.winner {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .divider {
    height: 1rem;
    width: 2px;
    background-color: var(--color-text);
  }

  &__lastname {
    font-weight: 700;
  }
}

.explanation {
  position: absolute;
  left: 6rem;
  bottom: .1rem;
  z-index: 100;
  font-size: .8rem;
  line-height: .8rem;
  opacity: 0;
  transition: var(--transition) opacity;

  &--visible {
    opacity: 1 !important;
  }

  &--lead {
    left: 9rem;
  }

  &__line {
    position: absolute;
    opacity: 0;
    transition: var(--transition) opacity;

    &--h {
      left: 4.5rem;
      bottom: .5rem;
      height: .5px;
      width: 1rem;
      background-color: var(--color-text);

      &l {
        left: 7.5rem;
      }
    }

    &--v {
      left: 4.5rem;
      bottom: .5rem;
      height: 1rem;
      width: .5px;
      background-color: var(--color-text);
      z-index: 100;

      &l {
        left: 7.5rem;
      }
    }
  }
}
