.mountain {
  &__container {
    border: 1px solid var(--color-primary-900);
    background: var(--gradient-card);
    box-shadow: var(--shadow-card);
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;

    &:hover {
      .mountain__info {
        opacity: 1;
      }
    }
  }

  &__graphs {
    display: flex;
    align-items: flex-start;

    & div:first-child {
      margin-right: -2rem;
      position: relative;
      z-index: 1;
    }

    div {
      position: relative;
    }
  }

  &__margin {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 4rem);
  }

  &__info {
    opacity: 0;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    min-width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: 99px;
    background: var(--color-primary-900);
    box-shadow: var(--shadow-mountain);
    transition: var(--transition) opacity;
    z-index: 2;

    &--margin {
      left: 11rem;
      transform: initial;
    }
  }
}

.winner {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .divider {
    height: 1rem;
    width: 2px;
    background-color: var(--color-text);
  }

  &__lastname {
    font-weight: 700;
  }
}
